//Colors
$yellowColor:#FFE600;
$lightBlueColor:#3483FA;
$lightGray:#999999;
$gray:#666666;
$blackLetters:#333333;
$bodyColor:#EEEEEE;
$whiteColor: white;

//Sizes
$breadcrum:14px;
$li-price:24px;
$li-title:18px;
$li-city:12px;
$thumbnail-size:180px;
$thumbnail-br:4px;
$search-input:18px;
$width-image-item:425px;
$margin-small:16px;
$margin-big:32px;
$item-info:14px;
$item-title:24px;
$item-price:46px;
$item-title-description:28px;
$item-description:16px;


//globalStylesheets
body{
  background-color:$bodyColor ;
  padding: 0;
  font-family: sans-serif;
  margin: 0;
}